In [4]:


keys = input("Ad-Soyad giriniz")
values = int(input("Yaş girin"))[1, 34, 65]

my_dict = {}
for i in range(len(keys)):
    my_dict.update({keys[i]:values[i]})

my_dict

TypeError: 'int' object is not subscriptable

In [ ]:
bilgi = {}


name = input("adı: ")
surname = input("soyad: ")
yas = input("Yaş: ")

bilgi.update({
    number: {
        'ad': name,
        'soyad': surname,
        'yas':yas 
    }
})

In [14]:
from multiprocessing.sharedctypes import Value


bilgi = {}


name = input("adı: ")
surname = input("soyad: ")
yas = input("Yaş: ")
renk = input("renk")

bilgi.update({
     
        'ad': name,
        'soyad': surname,
        'yas':yas,
        "renk":renk
    
})
bilgi.update({key[ad]: value.lower()})

NameError: name 'key' is not defined

In [29]:

a= int(input("a"))
b= int(input("b"))
my_dict={}


for i in range(a,b+1):
    my_dict[i]=i**2

my_dict.update({i:my_dict[i]}})
my_dict

SyntaxError: closing parenthesis '}' does not match opening parenthesis '(' (1256317563.py, line 9)

In [12]:
bilgi

{'ad': 'sena', 'soyad': 'sezgin', 'yas': '25', 'renk': 'turuncu'}

In [31]:
a= int(input("a"))
b= int(input("b"))
my_dict={}


for i in range(a,b+1):
    my_dict[i]=i**2

my_dict.update({i:b})
my_dict

{4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 9}

In [33]:
myUsers = [
    {
        "Name":"Rosalind",
        "Surname": "Rich",
        "Age": 23
    }
    ,{
        "Name":"Annika",
        "Surname": "Keenan",
        "Age": 28
    }
    ,{
        "Name":"Emillie",
        "Surname": "Plummer",
        "Age": 17
    }
    ,{
        "Name":"Kourtney",
        "Surname": "Pate",
        "Age": 30
    }
    ,{
        "Name":"Virgil",
        "Surname": "Solomon",
        "Age": 40
    }
    ,{
        "Name":"Bobby",
        "Surname": "Jordan",
        "Age":33
    }
    ,{
        "Name":"Alfie",
        "Surname":"James Robson",
        "Age": 16
    } 
    ,{
        "Name":"Isla",
        "Surname":"Grace Tran",
        "Age": 64
    } 
    ,{
        "Name":"Arif",
        "Surname": "Rivas",
        "Age": 43
    }
    ,{
        "Name":"Zakaria",
        "Surname": "Whitehead",
        "Age": 82
    }
    ,{
        "Name":"Casper",
        "Surname": "Velasquez",
        "Age": 57
    }
    ,{
        "Name":"Caoimhe",
        "Surname": "Ali",
        "Age": 34
    }
    ,{
        "Name":"Viola",
        "Surname": "Shepherd",
        "Age": 18
    }
]

In [43]:
for user in myUsers:
    if user["Age"] >20:
        print(user)

{'Name': 'Rosalind', 'Surname': 'Rich', 'Age': 23}
{'Name': 'Annika', 'Surname': 'Keenan', 'Age': 28}
{'Name': 'Kourtney', 'Surname': 'Pate', 'Age': 30}
{'Name': 'Virgil', 'Surname': 'Solomon', 'Age': 40}
{'Name': 'Bobby', 'Surname': 'Jordan', 'Age': 33}
{'Name': 'Isla', 'Surname': 'Grace Tran', 'Age': 64}
{'Name': 'Arif', 'Surname': 'Rivas', 'Age': 43}
{'Name': 'Zakaria', 'Surname': 'Whitehead', 'Age': 82}
{'Name': 'Casper', 'Surname': 'Velasquez', 'Age': 57}
{'Name': 'Caoimhe', 'Surname': 'Ali', 'Age': 34}

In [44]:
for user in myUsers:
    if "a" and "A"in user["Name"]:
        print(user)

{'Name': 'Annika', 'Surname': 'Keenan', 'Age': 28}
{'Name': 'Alfie', 'Surname': 'James Robson', 'Age': 16}
{'Name': 'Arif', 'Surname': 'Rivas', 'Age': 43}

Verilen iki set için aşağıdaki işlemleri yapınız;
- İki set arasındaki farkı ekrana yazdırınız.
- İki set içerisinde ortak olanları ekrana yazdırınız.
- İki seti birleştirip ekrana yazdırınız.
- İlk set içerisinde olmayıp ikinci set içerisinde olan değerleri ekrana yazdırınız.
- İkinci set içerisinde olmayıp ilk set içerisinde olan değerleri ekrana yazdırınız.

```python
set1 = {True, False, 1, 2, 3, 4, 's', 'i', 's', 't', 'e'}
set2 = {'r', 's', 'l', 'a', 'b', None, 6, 7, 8, 9}

In [2]:
set1 = {True, False, 1, 2, 3, 4, 's', 'i', 's', 't', 'e'}
set2 = {'r', 's', 'l', 'a', 'b', None, 6, 7, 8, 9}

In [5]:

my_set3 = set1 & set2

my_set3

{'s'}

In [6]:
unique_set = set1 ^ set2
unique_set

{2, 3, 4, 6, 7, 8, 9, False, None, True, 'a', 'b', 'e', 'i', 'l', 'r', 't'}

In [8]:
my_set4 = set1 | set2
my_set4

{2,
 3,
 4,
 6,
 7,
 8,
 9,
 False,
 None,
 True,
 'a',
 'b',
 'e',
 'i',
 'l',
 'r',
 's',
 't'}

In [4]:
"a" + "b"

'ab'

In [6]:
ifade = "Merhaba!"
ifade = ifade.lower()
ifade = ifade.replace("!","")
ifade

'merhaba'

In [7]:
"9" + "1"

'91'

In [8]:
ifade = "selam"
type(ifade)

str

In [9]:
a = "bu uzun bir metindir"
a[8]

'b'

In [10]:
ifade = "Merhaba! "
ifade.strip("")

'Merhaba! '

In [1]:
set1 = set([5,7,9])
set2 = set([5,6,7])
set2.difference(set1)

{6}

In [5]:
set1 = set([5,7,9])
set2 = set([5,6,7])
set1.difference(set2)

{9}

In [7]:
sozluk = {"reg" : "regresyon modeli",
"loj" : "lojistik regresyon",
"cart" : "classification and regression trees"}
sozluk[0] = "gradient boosting machines"
sozluk["gbm"] = "gradient boosting machines"
sozluk

{'reg': 'regresyon modeli',
 'loj': 'lojistik regresyon',
 'cart': 'classification and regression trees',
 0: 'gradient boosting machines',
 'gbm': 'gradient boosting machines'}

In [8]:
def islem(x,y):
    A = [x,y]
    return A[0] + A[1]

islem(1,3)

4

In [13]:
def islem(x):
    if (x<0):
        return "NO"
    else:
        x*5
 
islem(2)

In [14]:
if [1,2,3,4][1] == 2:
    print("YES".lower())
else:
    print("NO")

yes

In [15]:
for i in ["a",11]:
    print(i)

a
11

In [18]:
def yazdir(metin):
    print(metin, "yazanlar")
 
yazdir("gelecegi")

gelecegi yazanlar

In [19]:
A = []

for i in [1,2,3,4]:
    A.append(i)

A[0]

1

In [20]:
def mesaj():
    print("Merhaba!")    
    
mesaj()

Merhaba!

In [21]:
A = 12    
if type(A) == str:
    A = A.strip("*")
    print(A)    
else:
    A  = "*" + str(A) + "*"
    print(A.strip())

*12*

In [22]:
A = []
B = []

for i in [1,"a",12,"b"]:
    if type(i) == int:
        B.append(i)
    else:
        A.append(i)

A[1]

'b'

In [23]:
a = [2,4,6,8]
for i in a:
    print(i**2)

4
16
36
64

In [31]:

def harf_say(x):
    print(len(x))
 
harf_say("Merhaba!")

8