SORU XXX:

Aşağıdaki stringde verilen değeri, büyük harfe dönüştürmek ve tersine çevirmek için bir lambda fonksiyonu kullanın.

- SistersLab girdisi için beklenen çıktı 'BALSRETSİS'

In [5]:
str1 = "SistersLab"
revers_upper = lambda string: string.upper()[::-1]
print(revers_upper(str1))

BALSRETSIS


Girilen değer 5-10 arasında ise sayının 5 katını, 10'dan büyükse 10 katını dönen bir lambda fonksiyonu ve normal fonksiyon yazın

In [3]:
number = int(input("Enter a number: "))
result = lambda number: number*5 if number in range(5,10) else number*10 if number > 10 else number

print(result(number))

30

In [4]:
x = int(input("Bir sayı giriniz: "))
calculate = lambda x: x*5 if 5< x < 10 else x*10 
print(calculate(x))

200

In [3]:
sayi= int(input("Bir sayı giriniz: "))
a=lambda x: (sayi >= 5 and sayi <= 10) and sayi *5 or sayi * 10
print(a(sayi))

200

Listedeki sayılardan tek olanları lambda fonksiyonu kullanarak yazdırınız.

list_ = [34, 12, 64, 57, 75, 13, 63, 3, 23, 232, 3453, 111211]

In [5]:
my_list = [34, 12, 64, 57, 75, 13, 63, 3, 23, 232, 3453, 111211]

print(list(filter(lambda x: x %2 != 0,my_list)))

[57, 75, 13, 63, 3, 23, 3453, 111211]


[0,1,2,3,4,5,6,7,9,10,12] Verilen listenin

- 3.indexi ile 6.indexi arasındaki değerleri yazdırınız.
- Listeyi tersten yazdırınız.
- Listeye 10'dan sonra olacak şekilde 11 değerini ekleyiniz.
- Listenin en başına -15 değerini ekleyiniz.

- Listenin sonundaki değeri siliniz ve ekrana yazdırınız.
- Listeye 5.indexten başlayarak 50 ve 51 değerlerini ekleyiniz.
- Listedeki her bir değeri, değerin 10 ile çarpımı ile güncelleyiniz.

- Listedeki her bir değer için, eğer değer 2'nin katı ise  değerin 5'e bölümü ile (KALAN MI?)  2'nin katı değilse değere 2 ekleyerek güncelleyiniz.???????

In [ ]:
liste = [0,1,2,3,4,5,6,7,9,10,12]

#Soru 1
print(liste[3:7])

#Soru 2
print(liste[::-1])

#Soru 3
liste.insert(10, 11)
print(liste)

#Soru 4
liste.insert(0, -15)
print(liste)


#Soru 5
print(liste.pop())

#Soru 6
liste[5:5] = [50, 51]
print(liste)

#Soru 7
liste = list(map(lambda number: number * 10,liste))
print(liste)

#Soru 8
liste = list(map(lambda number: number // 5 if number % 2 == 0 else number + 2, liste))
print(liste)

Soru XXX:

Kendisine parametre olarak verilen listenin içerisindeki sayıları toplayan ve bu sonucu dönen bir fonksiyon yazınız.

In [2]:
def listetopla(list):
    sayac = 0 
    list = [1, 2, 3, 4, 5]
    for i in list:
        sayac = sayac + i 
    return sayac
print(listetopla(list))

15

Kendisine parametre olarak verilen listenin içerisindeki sayıları çarpan ve bu sonucu dönen bir fonksiyon yazınız.

In [1]:
def listecarp(list):
    sayac = 1
    list = [1, 2, 3, 4, 5]
    for i in list:
        sayac = sayac*i 
    return sayac
print(listecarp(list))

120


Kendisine parametre olarak verilen listenin içerisindeki sayıların 5 ile bölümünden kalanlarının toplamını dönen bir fonksiyon yazınız.

In [12]:
def myfunc(my_list):
    kalan=0
    for i in my_list:
        kalan += i % 5
    return(kalan)
my_list = [5, 7, 8, 10]
myfunc(my_list)

5


Kendisine parametre olarak verilen listenin içerisindeki sayılardan, kendisine parametre olarak verilen sayıya tam bölünenlerin toplamını döndüren bir fonksiyon yazınız. Fonksiyon aşağıdaki gibi görünebilir.



```
def tam_bolenleri_topla(liste, bolunecek_sayi)
    return tam_bolenler_toplami
```

In [35]:
liste = [5, 7, 8, 10]
def tam_bolenleri_topla(listemm, bolunecek_sayi):
    for item in my_list:
        for i in range(1,bolunecek_sayi):
             if bolunecek_sayi % i == 0:
                tam_bolenleri_toplami = + bolunecek_sayi
return tam_bolenler_toplami
listemm = [5, 7, 8, 10]
print(tam_bolenleri_toplami)

SyntaxError: 'return' outside function (1450996505.py, line 7)

1000 ile 1000 aralığında random sayılardan oluşan 250 elemanlı bir liste oluşturunuz. Sonrasında oluşturduğunuz bu liste ile aşağıdaki işlemleri yapınız.

- Bu liste içerisinde kaç adet pozitif, kaç adet negatif sayı olduğunu bulunuz.
- Bu liste içerisinde kaç adet tek, kaç adet çift sayı olduğunu bulunuz.
- Bu liste içerisinde 3'e tam bölünen sayıların toplamını bulunuz.
- Bu liste içerisinde 5'e tam bölünen sayıların toplamını bulunuz.
- Bu liste içerisinde 15'e tam bölünen sayıların toplamını bulunuz.
- Bu liste içerisindeki çift sayıların ve tek sayıların toplamını bulunuz.
- Bu liste içerisinde çift indexte bulunan sayıların toplamını bulunuz.
- Listedeki her bir değer için, eğer değer pozitif ise 10 çıkarınız değilse 20 ekleyiniz.
- Listedeki pozitif ve negatif değerlerin en büyüğünü ayrı ayrı bulunuz.

In [1]:
my_list = [ "Python", "C", "C#", "Matlab" ]
print(my_list[0:2]) # O. indexten 2.indexse kadar olan değerleri ekrana bastırır.

['Python', 'C']

In [9]:
my_list = [ "Python", "C", "C#", "Matlab" ]
for i in range (0, len(my_list)):
    print(f"{i}. index değeri : {my_list[i]}")

0. index değeri : Python
1. index değeri : C
2. index değeri : C#
3. index değeri : Matlab

In [10]:
my_list = [ "Python", "C", "C#", "Matlab" ]
for item in my_list:
    print(item)

Python
C
C#
Matlab

In [12]:
my_list = [ "Python", "C", "C#", "Matlab" ]
my_list.append("Java")

print(my_list)

['Python', 'C', 'C#', 'Matlab', 'Java']

In [14]:
my_list = [ "Python", "C", "C#", "Matlab" ]
my_list.insert(2,"Java")
print(my_list)

['Python', 'C', 'Java', 'C#', 'Matlab']

In [16]:
my_list = [ "Python", "C", "C#", "Matlab" ]
my_list.extend(["Java", "Css"])
print(my_list)

['Python', 'C', 'C#', 'Matlab', 'Java', 'Css']

In [37]:
mylist1 = [ 1960, 20, "John", "Paul", "George", "Ringo", "Hey Jude"]
print("Önceki Hali: ", my_list)
mylist1.remove(1960)
print("Sonraki Hali: ", my_list)

Önceki Hali:  ['John', 'Paul', 'George', 'Ringo', 'Hey Jude', 1960]
Sonraki Hali:  ['John', 'Paul', 'George', 'Ringo', 'Hey Jude', 1960]

In [1]:
#default değer verme

double = lambda y = 2: y * 9

print(double())
print(double(15))

18
135

In [2]:
n = int(input())
integer_list = map(int, input().split())
t = tuple(integer_list)

print(hash(t))

6909455589863252355

In [2]:

my_set1 = { "Marshall", "Lily" }
my_set2 = {"Robin", "Barney", "Ted"}

my_set1.intersection_update(my_set2)
my_set1

set()

In [6]:
i = 7
while i > 0:
    i -=3
    print("*")
    if i <= 2:
      break
    else:
        print("*")

*
*
*

In [9]:
 x, y, z = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)[2::3]
 print(y)

6